name: Terraform CI

on:
  pull_request:
    paths:
      - "environments/dev/**"
      - "modules/**"
      - ".github/workflows/terraform-ci.yml"
  push:
    branches: ["main"]
    paths:
      - "environments/dev/**"
      - "modules/**"
      - ".github/workflows/terraform-ci.yml"
  workflow_dispatch: {}

permissions:
  contents: read

env:
  TF_IN_AUTOMATION: "true"
  TF_INPUT: "false"

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Terraform fmt (check)
        run: terraform fmt -check -recursive

      - name: Terraform init (no backend) + validate (dev)
        working-directory: environments/dev
        run: |
          terraform init -backend=false -input=false
          terraform validate
